<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Alterar Funcionário</title>

       <style type="text/css">
         .formulario{
           border:3px solid black; 
          }

         .principal{
           margin-top: 10px;
        }
      </style>

			<script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
      </script>

			   <!-- Compiled and minified CSS -->
   			 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   			<!-- Compiled and minified JavaScript -->
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	</head>

<body>
      <nav>
      <div class="nav-wrapper black">
        <a href="#!" class="brand-logo">Guep Technology</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="btn green darken-4" href="/">Home</a></li>
          <li><a class="btn orange darken-4" href="/funcionarios">Listar Funcionários</a></li>
        </ul>
      </div>
    </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/funcionarios">Lista</a></li>
      </ul>


<div class="principal">
	<div class="row">

    <form class="black col s12" method="post" action="/alterar">
       <% if (impedimentos.length > 0){ %>
          <div class="row">
            <div class="col s12 m5">
              <div class="card-panel red">
                <span class="white-text">
                  <% for(var i = 0; i < impedimentos.length; i++){ %>
                      <li><%= impedimentos[i].msg %></li>
                  <% } %>
                </span>
              </div>
            </div>
          </div>
        <% } %>


      <!-- INICIO PRIMEIRA LINHA -->
      <div class="row">
       <div class="input-field col s12 m8">
          <input value="<%= funcionario[0].nome %>" class="white-text" placeholder="Ex: João da Silva" id="nome" type="text" class="validate" name="nome">
          <label for="nome">Nome completo</label>
        </div>
   
        <div class="input-field col s12 m4">
          <input value="<%= funcionario[0].cargo %>" placeholder="Ex: Desenvolvedor" id="cargo" type="text" class="white-text validate" name="cargo">
          <label for="cargo">Cargo</label>
        </div>
      </div> 
      <!-- FINAL PRIMEIRA LINHA --> 

      <!-- INICIO SEGUNDA LINHA -->
      <div class="row">
	         <div class="input-field col s12 m6">
	         <input value="<%= funcionario[0].cpf %>" placeholder="Apenas números" id="cpf" type="text" class="white-text validate" name="cpf">
	         <label for="cpf">CPF</label>
         	</div>
      
	        <div class="input-field col s12 m6">
	          <input value="<%= funcionario[0].dataNascimento %>" placeholder="DD/MM/YYYY" id="dataNascimento" type="date" class="white-text validate" name="dataNascimento">
	          <label for="dataNascimento">Data de Nascimento</label>
	        </div>
    	</div>
      <!-- FINAL SEGUNDA LINHA -->


      <!-- INICIO TERCEIRA LINHA -->
      <div class="row">
        <div class="input-field col s12 m8">
          <input value="<%= funcionario[0].email %>" placeholder="exemplo@guep.com.br" id="email" type="email" class="white-text validate" name="email">
          <label for="email">Email</label>
        </div>

         <div class="input-field col s12 m4">
          <input value="<%= funcionario[0].telefone %>" placeholder="Apenas números" id="telefone" type="text" class="white-text validate" name="telefone">
          <label for="telefone">Telefone</label>
        </div>
      </div>
      <!-- FINAL TERCEIRA LINHA -->
     
      
       <!-- INICIO QUARTA LINHA -->
       <div class="row">
         <button class="green darken-4 btn waves-effect waves-light col s12 m4" type="submit">Alterar
             <i class="material-icons right">send</i>
         </button>
       </div>
        <!-- FINAL QUARTA LINHA -->

        <input class="white-text" value="<%= funcionario[0].id %>" placeholder="id" id="id" type="hidden" class="validate" name="id"> 
    </form>
  </div>
</div>


</body>
<script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
</script>


</html>